body {
  background-color: #222831;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  gap: 25px;
  padding-top: 25px;
}

/* code {
  font-family: "JetBrains Mono", monospace;
  background-color: #e1e5ea;
  color: #222831;
}
 */
.intro {
  align-self: center;
  font-weight: 400;
  font-size: 36px;
}

.text-divider {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 26px;
}

.text-divider::before,
.text-divider::after {
  content: "";
  height: 1px;
  background-color: #ffffff;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: 1rem;
}

.text-divider::after {
  margin-left: 1rem;
}

/* h1 {
  font-weight: 400;
}

h2 {
  text-align: center;
  font-weight: 300;
}

.html-sample img {
  border: 2px solid #343d4b;
  border-radius: 6px;
}

figure.html-sample {
  text-align: center;
  font-style: italic;
  max-width: 346px;
  max-height: 228px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 80px;
}

figure.semantic-example {
  text-align: center;
  font-style: italic;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 556px;
  max-height: 700px;
}

.html-sample figcaption {
  padding-top: 4px;
  text-align: justify;
  font-size: smaller;
}
*/
/* Rounded border */
/*hr.rounded {
  border-top: 2px solid #f0f2f5;
  border-radius: 5px;
  margin: 8px auto;
  width: 50%;
}

.semantic-example figcaption {
  font-size: smaller;
}

.semantic-example img {
  max-width: 50%;
  height: auto;
}

.semantic-example figcaption a {
  color: #ffffff;
}

.semantic-example figcaption a:hover {
  color: #5e6f87;
}

table {
  background-color: #393e46;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0;
  margin: 0 auto;
  width: 80%;
  white-space: nowrap;
}

table tr th,
table tr td {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 5px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #fff;
}

table tr td:last-child {
  white-space: normal;
}

table tr th {
  background: #5e6f87;
  border-top: 1px solid #fff;
  text-align: left;
}

/* top-left border-radius
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius 
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius 
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
} */
